{% extends 'base.html' %} {% block content %} {% if following %}
<h4 class="text-center my-3 pb-3 text-white">{% if request.user.username == user.username%}You are {%else%}{{ user.username }} {%endif%} following</h4>

<ul style="padding: 0">
  {% for user in following %}
  <li class="alert card shadow text-white">
    <a href="/accounts/{{user.username}}/">{{ user.username }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="text-muted text-center">
  {%if request.user.username == user.username %}You are {%else%}
  {{request.user.username}} is {% endif %} not following anyone.
</p>
{% endif %} {% endblock %}
