{% extends 'base.html' %} {% block content %}

<h4 class="text-center my-3 pb-3">{{ todo_list_name }}</h4>

<div class="row mb-4">
  <p class="text-muted">
    This list includes <span class="marked text-danger">{{ todos|length }}</span> {% if todos|length == 1 %} todo{% else %}todos{% endif %}
  </p>
  <div class="mb-3" id="todo_wrapper">
    {% for todo in todos %} {% if not todo.done %}
    <div class="col-12">
      <div class="todo todo-primary">
        <div class="d-flex gap-2" >
          <div class="todo-action is-done">
            <input
              type="checkbox"
              class="todo-check form-check-input"
              id="{{ todo.id }}"
            />
          </div>
          <div class="todo-title">{{ todo.title }}</div>
        </div>
        <div class="todo-actions">
          <button
            class="todo-action todo-action-edit"
            style="--delay: 100ms; --color: black"
          >
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button
            class="todo-action todo-action-delete"
            style="--delay: 50ms; --color: red"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  <hr />

  <p class="text-muted">{% if todos|length == 1 %} Todo{% else %}Todos{% endif %} that has been done
  {% for todo in todos %} {% if todo.done %}
  <div class="col-12">
    <!-- section for done tasks -->
    <div class="todo todo-done">
      <div class="d-flex gap-2">
        <div class="todo-action is-done">
          <input
            type="checkbox"
            class="todo-check form-check-input"
            id="{{ todo.id }}"
            checked
          />
        </div>
        <div class="todo-title text-muted">{{ todo.title }}</div>
      </div>
      <div class="todo-actions">
        <button
          class="todo-action todo-action-edit"
          style="--delay: 100ms; --color: black"
        >
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button
          class="todo-action todo-action-delete"
          style="--delay: 50ms; --color: red"
        >
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>

<div 
  class="row row-cols-lg-auto g-3 justify-content-center align-items-center pb-2"
>
  <div class="col-12">
    <div class="form-outline" >
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input
        type="text"
        id="title"
        class="form-control"
        placeholder="enter a task here"
      />
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" onclick="addTodo('{{ todo_list.slug }}')">Save</button>
  </div>
</div>
{% endblock content %}
