{% extends 'base.html' %} {% block content %}
<h4 class="text-center my-3 text-white pb-3">{% if is_authenticated %} Dear {{ request.user.username }} {% endif %}Welcom to Todo</h4>
<p class="text-muted">
  This is a simple todo app that I created to learn how to use Django. This is a
  test version of the app. I will be adding more features to it. I hope you
  enjoy it.
</p>
{% comment %}
<h5 class="text-center my-3 pb-3">Features</h5>
<ul class="list-group w-50">
  <li class="list-group-item">
    <h6 class="text-center">
      <i class="fas fa-check-circle"></i>
      <span class="text-muted">Add Tasks</span>
    </h6>
  </li>
  <li class="list-group-item">
    <h6 class="text-center">
      <i class="fas fa-check-circle"></i>
      <span class="text-muted">Delete Tasks</span>
    </h6>
  </li>
  <li class="list-group-item">
    <h6 class="text-center">
      <i class="fas fa-check-circle"></i>
      <span class="text-muted">Edit Tasks</span>
    </h6>
  </li>
  <li class="list-group-item">
    <h6 class="text-center">
      <i class="fas fa-check-circle"></i>
      <span class="text-muted">Mark Tasks</span>
    </h6>
  </li>
  <li class="list-group-item">
    <h6 class="text-center">
      <i class="fas fa-check-circle"></i>
      <span class="text-muted">View Tasks</span>
    </h6>
  </li>
</ul>
{% endcomment %} {% if is_authenticated %}
<a href="{% url 'logout' %}" class="btn btn-danger"> Logout </a>
<a
  href="{% url 'accounts:lists' request.user.username %}"
  class="btn btn-outline-secondary"
  >Dashboard</a
>
<a href="accounts/{{ request.user.username }}" class="btn btn-outline-primary"
  >Profile</a
>
{% else %}

<div>
  <a href="{% url 'register' %}" class="btn btn-primary btn-block">Register</a>
  <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-block"
    >Login</a
  >
</div>
{% endif %} {% endblock content %}
