{% extends 'base.html' %} {% block content %} {% load static %}
<h4
  class="text-center my-3 text-white pb-3 d-flex align-items-center justify-content-center position-relative"
>
  <span class="position-relative">
    <span class="text-white"
      >{{ user.user.first_name }} {{ user.user.last_name }}</span
    >
    {% if request.user.username != user.user.username %} 
    <h6 class="text-muted">@{{user.user.username}}</h6>
    {%endif%}
    {% if is_verified %}
    <div style="position: absolute; right: -30px; top: -5px">
      <img src="{% static 'verified.png' %}" alt="logo" width="28" />
    </div>
    {% endif %}</span
  >
  {% if request.user.username != user.user.username %} {% if followed %}
  <button
    class="btn btn-outline-primary justify-self-last"
    style="position: absolute; right: 0"
    id="unFollowButton"
  >
    Unfollow
  </button>
  {%else%}
  <button
    class="btn btn-primary justify-self-last"
    style="position: absolute; right: 0"
    id="followButton"
  >
    Follow
  </button>
  {%endif%} {% endif %}
</h4>
<div class="row mt-2">
  <div class="col-md-3 col-sm-3">
    <a href="lists/" class="text-primary">
      <div
        class="mini-card rounded d-flex justify-content-center align-items-center flex-column p-1"
      >
        <h2>{{ todo_lists|length }}</h2>
        <hr width="100%" />
        <div class="card-title">
          <span>Lists</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3 col-sm-3">
    <a href="tasks/">
      <div
        class="mini-card rounded d-flex justify-content-center align-items-center flex-column p-1"
      >
        <h2>{{ todos|length }}</h2>
        <hr width="100%" />
        <div class="card-title">
          <span>Todos</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3 col-sm-3">
    <a href="followers/">
      <div
        class="mini-card rounded d-flex justify-content-center align-items-center flex-column p-1"
      >
        <h2>{{ user.followers.all|length }}</h2>
        <hr width="100%" />
        <div class="card-title">
          <span>Followers</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3 col-sm-3">
    <a href="following/">
      <div
        class="mini-card rounded d-flex justify-content-center align-items-center flex-column p-1"
      >
        <h2>{{ user.following.all|length }}</h2>
        <hr width="100%" />
        <div class="card-title">
          <span>Following</span>
        </div>
      </div>
    </a>
  </div>
</div>

{% if request.user.username == user.user.username %}
<form class="row edit-section closed" id="editSection" action="edit/">
  {% csrf_token %}
  <div class="col-md-6 sm-mt-2">
    <div class="form-group">
      <label for="user_name">User Name</label>
      <input
        type="text"
        class="form-control bg-dark text-white border border-primary"
        id="user_name"
        name="username"
        value="{{ user.user.username }}"
        disabled
        placeholder="username"
      />
    </div>
  </div>
  <div class="col-md-6 sm-mt-2">
    <div class="form-group">
      <label for="user_email">Email</label>
      <input
        type="text"
        class="form-control bg-dark text-white border border-primary"
        id="user_email"
        name="email"
        value="{{ user.user.email }}"
        disabled
        placeholder="email"
      />
    </div>
  </div>
  <div class="col-md-6 sm-mt-2 mt-3">
    <div class="form-group">
      <label for="user_email">First Name</label>
      <input
        type="text"
        class="form-control bg-dark text-white border border-primary"
        id="user_email"
        name="first_name"
        value="{{ user.user.first_name }}"
        disabled
        placeholder="first name"
      />
    </div>
  </div>
  <div class="col-md-6 sm-mt-2 mt-3">
    <div class="form-group">
      <label for="user_last_name">Last Name</label>
      <input
        type="text"
        class="form-control bg-dark text-white border border-primary"
        id="user_last_name"
        name="last_name"
        value="{{ user.user.last_name }}"
        disabled
        placeholder="last name"
      />
    </div>
  </div>
  <div class="col-md-12 sm-mt-2 mt-3">
    <div class="form-group">
      <label for="user_bio">Biography</label>
      <textarea
        rows="4"
        type="text"
        class="form-control bg-dark text-white border border-primary bg-dark"
        id="user_bio"
        name="bio"
        disabled
        placeholder="your biography"
      >{{ user.bio }}</textarea>
    </div>
  </div>
</form>
{%else %} <span class="text-muted text-wrap" id="bio"> {{user.bio}} </span> 
{% endif %}
{% if request.user.username == user.user.username %}
<div class="action mt-4">
  <div class="btn btn-primary" id="editButton" onclick="event.preventDefault()">
    <span>Show more</span>
  </div>
  <div class="btn btn-outline-primary d-none" id="cancelButton">
    <span>Show less</span>
  </div>
</div>
{%endif%}
{% endblock %} {% block action %}
{% if request.user.username == user.user.username %}
<a href="/logout">
  <button class="btn btn-danger">
    <i class="fas fa-sign-out-alt"></i>
  </button>
</a>
{%endif %}
{% endblock %}
