{% extends 'base.html' %} {% block content %}
<h4 class="text-center my-3 pb-3 text-white">{% if request.user.username == user.username%}Your {%else%}{{ user.username }}'s {%endif%} {% if todo %}all tasks{%else%}<span class="text-muted">{{todo_list.slug}}</span> list{%endif%}</h4>

<div class="row mb-4">
  <p class="text-muted">
    This list includes
    <span class="marked text-danger">{{ todos|length }}</span> {% if todos|length == 1 %} todo{% else %}todos{% endif %}
  </p>
  <div class="mb-3 row todos todos-undone">
    {% for todo in todos %} {% if not todo.done %}
    {% if request.user.username == user.username %}
    <div class="col-12">
      <div class="todo shadow-sm border todo-primary" id="todo{{ todo.id }}">
        <div class="d-flex gap-2">
          <div class="todo-action is-done">
            <input
              type="checkbox"
              class="todo-check form-check-input"
              id="{{ todo.id }}"
              data-action="mark"
              data-ref="trigger"
            />
          </div>
          <div class="todo-title text-white">{{ todo.title }}</div>
        </div>
        <div class="todo-actions">
          <button
            class="todo-action todo-action-star"
            style="--delay: 150ms; --color: red"
          >
            <i class="fas fa-heart"></i>
          </button>
          <button
            class="todo-action todo-action-edit"
            style="--delay: 100ms; --color: black"
          >
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button
            class="todo-action todo-action-delete"
            style="--delay: 50ms; --color: red"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div> {%else %} {%if not todo.private %}<div class="col-12">
      <div class="todo shadow-sm border todo-primary" id="todo{{ todo.id }}">
        <div class="d-flex gap-2">
          <div class="todo-title text-white">{{ todo.title }}</div>
        </div>
      </div>
    </div> {% endif %} {%endif%}
    {% endif %} {% endfor %}
  </div>
  <hr />

  <p class="text-muted">
    {% if todos|length == 1 %} Todo{% else %}Todos{% endif %} that has been done
  </p>
  <div class="row todos todos-done">
    {% for todo in todos %} {% if todo.done %}
   {% if request.user.username == user.username %}  <div class="col-12">
    <!-- section for done tasks -->
    <div class="todo todo-done" id="todo{{ todo.id }}">
      <div class="d-flex gap-2">
        <div class="todo-action is-done">
          <input
            type="checkbox"
            class="todo-check form-check-input"
            id="{{ todo.id }}"
            checked
            data-ref="trigger"
          />
        </div>
        <div class="todo-title text-muted text-white">{{ todo.title }}</div>
      </div>
      <div class="todo-actions">
        <button
          class="todo-action todo-action-star"
          style="--delay: 150ms; --color: red"
        >
          <i class="fas fa-heart"></i>
        </button>
        <button
          class="todo-action todo-action-edit"
          style="--delay: 100ms; --color: black"
        >
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button
          class="todo-action todo-action-delete"
          style="--delay: 50ms; --color: red"
        >
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div> {% else %} {% if not todo.private %}  <div class="col-12">
    <!-- section for done tasks -->
    <div class="todo todo-done" id="todo{{ todo.id }}">
      <div class="d-flex gap-2">
        <div class="todo-action is-done">
          <input
            type="checkbox"
            class="todo-check form-check-input"
            id="{{ todo.id }}"
            checked
            data-ref="trigger"
          />
        </div>
        <div class="todo-title text-muted text-white">{{ todo.title }}</div>
      </div>
      <div class="todo-actions">
        <button
          class="todo-action todo-action-star"
          style="--delay: 150ms; --color: red"
        >
          <i class="fas fa-heart"></i>
        </button>
        <button
          class="todo-action todo-action-edit"
          style="--delay: 100ms; --color: black"
        >
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button
          class="todo-action todo-action-delete"
          style="--delay: 50ms; --color: red"
        >
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div> {%endif%} {%endif %}
    {% endif %} {% endfor %}
  </div>
</div>
{% if request.user.username == user.username %}
  
<div class="row g-3 justify-content-center align-items-center pb-2">
  <div class="col-10">
    <div class="form-outline">
      <input
        type="hidden"
        name="csrfmiddlewaretoken"
        value="{{ csrf_token }}"
      />
      <input
        type="text"
        id="title"
        class="form-control"
        placeholder="enter a task here"
      />
    </div>
  </div>

  <div class="col-2">
    <button
      type="submit"
      class="btn btn-primary"
      onclick="addTodo(false)"
    >
      Save
    </button>
  </div>
</div>
{%endif%}
{% endblock content %}
