@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: Poppins, sans-serif;
}

.todo {
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.todo .todo-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo .todo-actions button,
.todo .todo-actions input {
  cursor: pointer;
}

.todo .todo-actions button {
  background-color: transparent;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: gray;
  transform: translateY(-200%);
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s, opacity 0.5s;
  opacity: 0;
  transition-delay: var(--delay);
}

.todo:hover .todo-actions button {
  transform: translateY(0);
  opacity: 1;
}

.todos .col-12:not(:last-child) {
  margin-bottom: 10px;
}

.todo .todo-actions button:hover {
  color: var(--color);
}

a > .card *,
a:not(.link) {
  text-decoration: none;
}

.todo-done {
  opacity: 0.7;
}

.todo-done .todo-title {
  text-decoration: line-through;
}

.todo.todo-done:hover .todo-actions button {
  transform: translateY(-200%);
}

.modal {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.modal .modal-dialog {
  pointer-events: all;
  background-color: #fff;
  opacity: 0;
  transition: 50s;
  transform: scale(0.5);
}

.modal.show {
  display: flex !important;
}

.modal.show .modal-dialog {
  opacity: 1;
  transform: scale(1);
}

.fa-asterisk {
  color: crimson;
  font-size: 10px;
}

.modal label[for="title"]::after {
  content: "*";
  color: crimson;
}

.add-list {
  height: 100% !important;
  background: #fff3f3ad;
  border: 2px dashed #ccc;
}

.modal .form {
  position: relative;
}

.modal [data-action='closeModal'] {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.add-list .card-body {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: #ccc;
  justify-content: center;
  user-select: none;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151515; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--bs-dark);
  border: 5px solid #151515;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.card.bg-dark form label, .card.bg-dark .form-group label {
  color: #fff !important;
}

@media screen and (max-width: 767px) {
  .sm-mt-2 {
    margin-top: .5rem!important;
  }
  .todo-list {
    margin-top: 10px !important;
  }
}